.footer {
  min-height: 52px;
  color: #fff;
  background-color: #222;
}

.footer__container {
  max-width: 1340px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: relative;
  margin: 0 auto;
}