.menu {
  display: flex;
  transition: all 0.3s linear;
}

.menu__item {
  text-decoration: none;
  margin-right: 15px;
  color: inherit;
}
/*
.menu__item_scroll {
  color: #222;
} */

.menu__item:last-of-type {
  margin-right: 0;
}

.menu__item_active {
  font-weight: bold;
}